.DS_Store
*.swp
adium/NateOnAdiumPlugin.xcodeproj/*.mode1v3
adium/NateOnAdiumPlugin.xcodeproj/*.pbxuser
adium/build
cscope.out
src/*.lo
autom4te.cache
src/.deps
src/.libs
po/POTFILES
po/*.gmo
Makefile.in
Makefile
*.la
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
po/Makefile.in.in
po/stamp-it
stamp-h1
